/ {
    aliases {
		i2s-codec-tx = &sai1;
		i2s-codec-rx = &sai1;
		i2c-codec = &lpi2c1;
		led2 = &led2;
		adc0 = &adc1;
	};

	leds {
		compatible = "gpio-leds";

		led2: led2 {
			gpios = <&gpio1 12 GPIO_ACTIVE_LOW>; // teensy 24 AD_B0_12
			label = "Other LED";
		};
	};
};

// nxp_rt1060

// Found in mimxrt1060_evk-pinctrl.dtsi
&pinctrl {
	pinmux_adc1: pinmux_adc1 {
		group0 {
			/* ADC1 IN7 on Teensy pin 14 "A0" = AD_B1_02 */
			/* ADC1 IN8 on Teensy pin 15 "A1" = AD_B1_03 */
			/* ADC1 IN12 on Teensy pin 16 "A2" = AD_B1_07 */
			pinmux = <&iomuxc_gpio_ad_b1_02_adc1_in7>,
				<&iomuxc_gpio_ad_b1_03_adc1_in8>,
				<&iomuxc_gpio_ad_b1_07_adc1_in12>;
			bias-disable;
			drive-strength = "r0-6";
			slew-rate = "slow";
			nxp,speed = "100-mhz";
		};
	};

	pinmux_sai1: pinmux_sai1 {
		group0 {
			pinmux = <&iomuxc_gpio_ad_b1_09_sai1_mclk>,  // teensy 23
				 <&iomuxc_gpio_b1_01_sai1_tx_data0>, // teensy 7
				 <&iomuxc_gpio_b1_00_sai1_rx_data0>, // teensy 8
				 <&iomuxc_gpio_ad_b1_11_sai1_rx_bclk>, // teensy 21
				 <&iomuxc_gpio_ad_b1_10_sai1_rx_sync>; // teensy 20 (LRCLK)
			drive-strength = "r0-6";
			slew-rate = "slow";
			nxp,speed = "100-mhz";
		};
	};
};

&adc1 {
	status = "okay";
	pinctrl-0 = <&pinmux_adc1>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@7 {
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@8 {
		reg = <8>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@12 {
		reg = <12>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

// Found in mimxrt1060_evk-pinctrl.dtsi
&sai1 {
	status = "okay";
	pinctrl-0 = <&pinmux_sai1>;
	pinctrl-names = "default";

	mclk-output;
	// We use receiver pins for outputting BCLK and LRCLK so the transmitter
	// must be configured to sync to the receiver.
	nxp,tx-sync-mode;
};

&lpi2c1 {
	status = "okay";
	//pinctrl-0 = <&pinmux_lpi2c1>;
	//pinctrl-names = "default";
};
